/* General Styles */
body {
    font-family: Arial, sans-serif;
}

/* Hero Section */
.hero {
    background-color: #7505fd;
    padding: 80px 20px;
}

.hero-logo {
    width:250px;
}

/* Service Cards */
.service-card {
    background-color: #f83dff(255, 149, 0);
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
}

/* Carousel */
.carousel-item img {
    height: 400px;
    object-fit: cover;
}

/* Contact Form */
form {
    max-width: 500px;
    margin: auto;
}

